body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 30px;
}

.container {
    max-width: 1000px;
    margin: auto;
}

h1 {
    color: #1f2937;
}

h2 {
    color: #374151;
}

.search-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
}

input,
select,
button {
    padding: 10px;
    margin-right: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    cursor: pointer;
}

.book-card {
    background: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.book-card h3 {
    margin-top: 0;
}

.available {
    font-weight: bold;
}